.SkillsBars {
  display: grid;
  grid-template: auto 0.3em / repeat(5, 3em);
  gap: 0.5em 0.3em;
  margin-bottom: 1.3em;
}

.SkillName {
  grid-column: span 3;
}

.SkillValue {
  font-size: 0.75em;
  color: #aaa;
  grid-column: span 2;
  text-align: right;
}

.Bar {
  background: var(--theme-clr-accent-dark);
  box-shadow: 0 0 0 1px #222 inset;
  height: 0.5em;
  width: 100%;
  border-radius: 0.25em;
}

.Bar.on {
    background: var(--theme-clr-accent-light);
    box-shadow: 0 0 0 1px #0004 inset;
}
