.hero {
  background-color: #111;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #111;
  background-image: url("../Assets/portrait-1080p-crop.jpg");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  height: 35rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.menu {
  margin-top: 2em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto repeat(6, 1fr);
  gap: 2rem;
  justify-content: start;
  align-items: baseline;
}

.menu .title {
  font-size: 3rem;
  font-weight: 100;
  color: #aaa;
  text-shadow: 1px 1px 0 #000;
}

.menu .title b {
  color: var(--theme-clr-accent-light);
  font-weight: 800;
}

.menu a {
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;

  text-align: center;
  padding-inline: 1em;
  position: relative;
}

.menu a:hover {
  color: #fff;
}

.menu a::after {
  position: absolute;
  content: "";
  width: 0%;
  top: calc(100% + 0.3em);
  left: 0;
  height: 1px;
  background: var(--theme-clr-accent-light);
  opacity: 0;
  transition: all linear 0.3s;
}

.menu a:hover::after {
  width: 100%;
  opacity: 1;
}

.characteristics {
  font-size: 3em;
  padding-left: 2em;
  font-family: 'Montserrat', sans-serif;
}

.characteristics > div {
  display: inline-block;
  padding-inline: 0.5em;
  margin-inline: 0.1em;
  border-bottom: 1px solid var(--theme-clr-accent-light);
  transition: width 0.3s linear;
  font-family: 'Qwitcher Grypen', script;
  font-size: 1.5em;
  line-height: 0.75;
  vertical-align: text-bottom;
}

:global(#heroCharacterText) {
  display: inline;
  white-space: nowrap;
  transition: opacity 0.5s linear;
  opacity: 1;
}

:global(#heroCharacterText.fade) {
  opacity: 0;
}

.logoGrid {
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  gap: 1.5em;
  align-items: center;
  color: #666;
  font-weight: bold;
}

.logoGrid img {
  position: relative;
  filter: saturate(0) brightness(0.3);
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  transition: all linear 0.3s;
}

.logoGrid img:hover {
  transform: scale(1.1) translateY(-5px);
  filter: saturate(1) brightness(1);
}
