.resume {
  font-size: 1.2em;
  text-shadow: 1px 1px 0 #0004;
}

.resume .resumeGrid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 2em; 
}

.resume h2 {
    border-bottom: 1px solid var(--theme-clr-accent-medium);
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
}

.resume b {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.3em;
  color: var(--theme-clr-accent-light);
}

.resume i {
  font-style: italic;
  color: var(--theme-clr-accent-light);
}

.resume p {
  line-height: 1.15;
  margin-block: 1em;
}

.Reresumesume a {
    color: var(--theme-clr-accent-light);
    text-decoration: none;
}

.resume a:hover {
    text-decoration: underline;
}

.resume a span {
    display: inline-block;
    margin-left: 0.3em;
    font-size: 1em;
    vertical-align: middle;
    text-decoration: none;
}

.none {
  list-style: none;
  padding-inline-start: 0;
}

.gapped li {
  margin-bottom: 0.8em;
}
