@font-face {
  font-family: "nyt-karnakcondensed";
  src: url("/public/Assets/Fonts/karnakcondensed-normal-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal
}

.app {
  display: grid;
    gap: 1em;
    margin-right: 55vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}