html {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body {
  position: absolute;
  inset: 0;
  background-color: #000;
  background-image: url(./Assets/portrait-1080p.jpg);
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
    gap: 1em;
    margin-right: 55vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}